### Clustering Algorithm
##### Customer Segmentation based on marketing_campaign.csv

### Data Analysis

In [2]:
import pandas as pd

file_path = 'marketing_campaign.csv'
data = pd.read_csv(file_path, sep='\t')
num_records, num_features = data.shape
print("First 10 rows:")
print(data.head(10))
null_values = data.isnull().sum()
print("\nNumber of nulls:")
print(null_values)
print("\nTypes of data:")
print(data.dtypes)

First 10 rows:
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0
5  7446        1967      Master       Together  62513.0        0         1
6   965        1971  Graduation       Divorced  55635.0        0         1
7  6177        1985         PhD        Married  33454.0        1         0
8  4855        1974         PhD       Together  30351.0        1         0
9  5899        1950         PhD       Together   5648.0        1         1

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0
5  09-09-2013       16       520  ...                  6             0
6  13-11-2012       34       235  ...                  6             0
7  08-05-2013       32        76  ...                  8             0
8  06-06-2013       19        14  ...                  9             0
9  13-03-2014       68        28  ...                 20             1

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0
5             0             0             0             0         0
6             0             0             0             0         0
7             0             0             0             0         0
8             0             0             0             0         0
9             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0
5              3         11         0
6              3         11         0
7              3         11         0
8              3         11         1
9              3         11         0

[10 rows x 29 columns]

Number of nulls:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

Types of data:
ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

#### Data Processing

In [3]:
# Cleaning Data
# Drop null values
data_cleaned = data.dropna().copy()
# New attribute [Age] = 2023 - Year_Birth 
data_cleaned['Age'] = 2023 - data_cleaned['Year_Birth']
# New attribute [TotalAmountSpent]
data_cleaned['TotalAmountSpent'] = data_cleaned['MntFishProducts'] + data_cleaned['MntFruits'] + data_cleaned['MntGoldProds'] + data_cleaned['MntSweetProducts'] + data_cleaned['MntMeatProducts'] + data_cleaned['MntWines']
# Drop symbolic values
data_processed = data_cleaned.drop(['ID', 'Education', 'Marital_Status', 'Dt_Customer', 'Year_Birth'], axis=1)
# Show
num_records_processed, num_features_processed = data_processed.shape
print(f"Number of records: {num_records_processed}, number of features: {num_features_processed}")
null_values = data_processed.isnull().sum().sum()
print(f"Number of null values: {null_values}")

Number of records: 2216, number of features: 26
Number of null values: 0

In [5]:
from sklearn.preprocessing import StandardScaler

# Data standardization
scaler = StandardScaler()
data_normalized_standard = scaler.fit_transform(data_processed)